@layer reset, theme, base, composition, components, utilities;

/* =========================
   RESET
========================= */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p,
  li,
  figcaption {
    text-wrap: pretty;
  }

  ul {
    list-style: none;
  }
}

/* =========================
   THEME / TOKENS
========================= */
@layer theme {
  :root {
    --clr-neutral-100: oklch(1 0 0);
    --clr-neutral-200: oklch(0.9 0 0);
    --clr-neutral-300: oklch(0.658 0 0);
    --clr-neutral-400: oklch(0.39 0 0);
    --clr-neutral-800: oklch(0.29 0 0);
    --clr-neutral-900: oklch(0.238 0 0);

    --clr-green-100: oklch(0.949 0.004 184.2);
    --clr-green-200: oklch(0.771 0.105 179.6);
    --clr-green-400: oklch(0.551 0.102 174.9);
    --clr-green-800: oklch(0.309 0.055 176.6);
    --clr-green-900: oklch(0.303 0.052 177);

    --clr-robust: oklch(0.385 0.124 263.1);
    --clr-green: oklch(0.544 0.159 140.7);
    --clr-flower: oklch(0.451 0.179 29.2);
    --clr-colorful: oklch(0.575 0.216 330.1);
    --clr-sunloving: oklch(0.512 0.128 51.5);
    --clr-air: oklch(0.54 0.09 194.8);
    --clr-decorative: oklch(0.464 0.224 307.6);
    --clr-edible: oklch(0.555 0.115 117);
    --clr-easy: oklch(0.567 0.21 265.1);
    --clr-fragrant: oklch(0.547 0.171 350.3);
    --clr-fast: oklch(0.445 0.022 261.4);

    /* for font weight and size */

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;

    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

    --clr-accent: var(--clr-green-400);
    --clr-accent-light-1: var(--clr-green-100);

    --clr-primary-light-1: var(--clr-neutral-100);
    --clr-primary-light-2: var(--clr-neutral-200);

    --clr-primary: var(--clr-neutral-400);
    --clr-primary-dark: var(--clr-neutral-800);

    --border-shadow: 0 1px 3px oklch(0 0 0 / 0.12),
      0 1px 2px oklch(0 0 0 / 0.24);

    --spacing-base: 1rem;

    --flow-space: 1.75em;
    --flow-space-lg: 4em;
  }
}

/* =========================
   BASE ELEMENT STYLES
========================= */
@layer base {
  body {
    font-family: var(--font-base);
    background-color: var(--clr-accent-light-1);
    color: var(--clr-primary-dark);
  }

  input,
  button,
  textarea,
  select,
  a {
    font: inherit;
  }

  h1,
  h2 {
    font-size: var(--fs-700);

    font-weight: var(--fw-700);
    line-height: 1;
  }

  h3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
    line-height: 1;
  }

  a {
    color: var(--clr-accent);
    text-decoration: none;
  }

  a:hover,
  a:focus-visible {
    text-decoration: underline;
  }
}

/* =========================
   COMPOSITION (LAYOUT)
========================= */

@layer composition {
  .flow > * + * {
    margin-block-start: var(--flow-space);
  }
  .container {
    max-width: 70rem;
    margin-inline: auto;
    padding-inline: var(--spacing-base);
  }
}

/* =========================
   COMPONENTS
========================= */
@layer components {
  /*  IMAGE GALLERY COMPONENT */

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0.45rem solid var(--clr-primary-light-1);
  }

  .gallery-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* Tablet */

  @media (width >= 40rem) {
    .gallery-grid {
      grid-template-columns: repeat(3, 1fr);
      border: 0.65rem solid var(--clr-primary-light-1);
    }
  }

  /* Desktop */
  @media (width >= 64rem) {
    .gallery-grid {
      border: 0.85rem solid var(--clr-primary-light-1);

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 18rem);
      grid-template-areas:
        "tall  top1  top2 top-right"
        "tall  bottom bottom top-left";
    }

    .gallery-grid li:nth-child(1) {
      grid-area: tall;
    }
    .gallery-grid li:nth-child(2) {
      grid-area: top1;
    }
    .gallery-grid li:nth-child(3) {
      grid-area: top2;
    }
    .gallery-grid li:nth-child(4) {
      grid-area: bottom;
    }
    .gallery-grid li:nth-child(5) {
      grid-area: top-right;
    }
    .gallery-grid li:nth-child(6) {
      grid-area: top-left;
    }
  }

  /* PLANT CARDS COMPONENT */

  .plant-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  @media (width >= 40rem) {
    .plant-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (width >= 64rem) {
    .plant-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .plant-card {
    background-color: var(--clr-primary-light-1);
    box-shadow: var(--border-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .plant-image img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  .plant-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--spacing-base);
  }

  /* Card tags */
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: var(--spacing-base);
  }

  .tag {
    font-size: var(--fs-200);
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 100vh;
    color: white;
    font-weight: var(--fw-500);
  }

  .tag-edible {
    background-color: var(--clr-edible);
  }

  .tag-fast {
    background-color: var(--clr-fast);
  }

  .tag-green {
    background-color: var(--clr-green);
  }

  .tag-sunloving {
    background-color: var(--clr-sunloving);
  }

  .tag-easy {
    background-color: var(--clr-easy);
  }

  .tag-fragrant {
    background-color: var(--clr-fragrant);
  }

  .tag-flower {
    background-color: var(--clr-flower);
  }

  .tag-robust {
    background-color: var(--clr-robust);
  }

  .tag-air {
    background-color: var(--clr-air);
  }

  .tag-decorative {
    background-color: var(--clr-decorative);
  }

  /* Meta */
  .plant-meta {
    margin-top: auto;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: var(--fs-200);
  }

  .meta-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }

  .avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
  .author {
    font-size: var(--fs-300);
    font-weight: var(--fw-600);
    color: var(--clr-accent);
  }

  /* NAV BAR */
  .site-header {
    background-color: var(--clr-primary-light-1);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* so menu can wrap below the logo on mobile */
    font-weight: var(--fw-700);
    font-size: clamp(var(--fs-300), 1.5vw + 0.5rem, var(--fs-600));
    text-transform: uppercase;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--clr-accent);
    padding: var(--spacing-base);
  }

  .nav-logo-icon {
    width: 1.75rem;
    height: auto;
  }

  /* nav links - hidden on mobile */

  .nav-list {
    display: none;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
  }
  .nav-list a {
    display: flex;
    align-items: center;
    padding: var(--spacing-base);
    /* for smoother animation (speed curve like in material design for Android) */
    transition: background-color 180ms cubic-bezier(0.4, 0, 0.2, 1),
      color 180ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list a:hover,
  .nav-list a:focus-visible {
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent);
    text-decoration: none;
  }

  /* hamburger menu toggle button (hidden checkbox triggered by label that containes the stripe-spans) */

  .nav-toggle {
    position: absolute;
    opacity: 0; /* invisible but focusable */
    pointer-events: none;
  }
  .nav-toggle-label {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    padding: var(--spacing-base);
    cursor: pointer;
  }

  /* hamburger nav stripes, unchecked state */

  .nav-toggle-label span {
    width: 1.5rem;
    height: 2px;
    background-color: var(--clr-accent);
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* animations for turning hamburger to X on checked state */
  /* first bar should rotate 45 degrees and move down */
  .nav-toggle:checked + .nav-toggle-label span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  /* middle bar should fade out */
  .nav-toggle:checked + .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }

  /* bottom bar should rotate -45 degrees and move up */
  .nav-toggle:checked + .nav-toggle-label span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* Show nav-list when the checkbox is checked */
  .nav-toggle:checked ~ .nav-list {
    display: flex;
  }

  @media (width >= 40rem) {
    .nav {
      flex-wrap: nowrap; /* so logo and menu stays on one row */
    }
    .nav-toggle-label {
      display: none;
    }
    .nav-list {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      width: auto;
    }
  }

  /* Intro/Hero Section and History Section */
  .intro,
  .history {
    padding: 2rem 1rem;
    text-align: center;
    max-width: 48rem;
    margin-inline: auto;
  }

  .intro h1 {
    font-size: var(--fs-700);
    margin-bottom: var(--spacing-base);
    color: var(--clr-primary-dark);
    letter-spacing: 0.02em;
  }

  .intro p {
    font-size: var(--fs-400);
    line-height: 1.6;
    color: var(--clr-primary);
    max-width: 36rem;
    margin-inline: auto;
  }

  @media (width >= 64rem) {
    .intro {
      padding: 4rem 1rem;
    }

    .intro h1 {
      font-size: calc(var(--fs-700) * 1.25);
    }
  }
  /* Newsletter section */
  .newsletter-grid {
    background-color: var(--clr-primary-light-1);
    width: 100%;
    padding-block: var(--flow-space-lg);
    padding-inline: var(--spacing-base);
    display: grid;
    gap: var(--spacing-base);
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .newsletter-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
  }
  .newsletter-grid h2 {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    color: var(--clr-primary-dark);
  }

  .newsletter-form {
    width: 100%;
  }
  /* grid stacking for the input field part of newsletter to place the button inside it*/
  .newsletter-field {
    display: grid;
    grid-template-areas: "stack";
    align-items: center;
    width: 100%;
  }

  /* all children in the input field stacked in one cell*/
  .newsletter-field > * {
    grid-area: stack;
  }

  .newsletter-field input {
    width: 100%;
    padding: 0.75rem 4.5rem 0.75rem 1rem;
    border-radius: 100vmax;
    font-size: var(--fs-400);
  }

  .newsletter-field button {
    justify-self: end;
    margin-right: 0.4rem;
    padding: 0.5rem 1.25rem;
    border-radius: 100vmax;
    border: none;
    background-color: var(--clr-accent);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-600);
    cursor: pointer;
    white-space: nowrap;
  }

  .newsletter-svg {
    width: 100%;
    max-width: 10rem;
    height: auto;
    justify-self: center;
    border-radius: 50%;
    padding: 2rem;
    aspect-ratio: 1 / 1;
    background-color: var(--clr-accent);
  }
  .newsletter-svg path {
    fill: white;
    stroke: white;
  }
  @media (width >= 64rem) {
    .newsletter-grid {
      grid-template-columns: 1fr minmax(auto, 30rem) auto 1fr;
      text-align: left;
      column-gap: 4rem;
    }
    .newsletter-grid h2,
    .newsletter-grid form {
      grid-column: 2;
      justify-self: start;
    }
    .newsletter-content {
      grid-column: 2;
      align-items: flex-start;
    }

    .newsletter-svg {
      grid-column: 3;
      grid-row: 1;
      max-width: 22rem;
      justify-self: start;
    }
  }

  /* Footer Section */
  .site-footer {
    background-color: var(--clr-accent);
    color: var(--clr-neutral-100);
    padding-block: var(--flow-space-lg);
    margin-block-start: var(--flow-space-lg);
  }

  .site-footer a {
    color: var(--clr-green-200);
  }

  .site-footer h2 {
    color: var(--clr-neutral-100);
  }

  .footer-layout {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
  }
  /* Tablet and desktop footer */
  @media (width >= 40rem) {
    .footer-layout {
      grid-template-columns: 2fr 1fr;
      align-items: start;
    }
  }
}

/* =========================
   UTILITIES
========================= */
@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
}
